body {
	background-color: black;
}

ul {
	display: flex;
    flex-direction: row;
	justify-content: flex-start;
    align-items: flex-start;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
	width: 100%;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: rgb(17, 17, 17);
}

.logo {
	text-align: center;
	margin: 25px;
	display: block;
	color: rgb(138, 43, 226);
}
li:first-child{
	flex-shrink: 0;
	width: auto;
}
.active {
	background-color: #4CAF50;
}