body {
	background: #ffbf00;
}

ul {
	display: flex;
    flex-direction: row;
	justify-content: flex-start;
    align-items: flex-start;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
	width: 100%;
}

li:first-child{
	flex-shrink: 0;
	width: auto;
}


li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 10px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: rgb(17, 17, 17);
}

.logo {
	text-align: center;
	margin: 25px;
	display: block;
	color: rgb(138, 43, 226);
}

.active {
	background-color: #4CAF50;
}

p #CS{
	text-align: center;
    	color: darkred;
    	margin: 10em;
	font-size:20em;
}
